<div class="row">
	<%= render 'partials/menu-category' %>

	<div class="col-md-10">
		<%= render 'partials/slider' %>

		<hr>

		<div class="row">
			<div class="col">
				<%= image_tag 'extras/Sushi Hindu A-36.jpg', class: 'img-fluid img-thumbnail' %>
				<h5>Special Rolls</h5>
				<p>Rolls de sabores unicos</p>
			</div>
			<div class="col">
				<%= image_tag 'extras/Sushi Hindu A-36.jpg', class: 'img-fluid img-thumbnail' %>
				<h5>Special Rolls</h5>
				<p>Rolls de sabores unicos</p>
			</div>
			<div class="col">
				<%= image_tag 'extras/Sushi Hindu A-36.jpg', class: 'img-fluid img-thumbnail' %>
				<h5>Special Rolls</h5>
				<p>Rolls de sabores unicos</p>
			</div>
			<div class="col">
				<%= image_tag 'extras/Sushi Hindu A-36.jpg', class: 'img-fluid img-thumbnail' %>
				<h5>Special Rolls</h5>
				<p>Rolls de sabores unicos</p>
			</div>
		</div>

	</div>

</div>