<div class="row">
	<%= render 'partials/menu-category' %>

	<div class="col-md-10">
		<%= render 'partials/slider' %>

		<hr>

		<div class="card-deck">
		  <div class="card text-white bg-opacity">
		    <%= image_tag 'extras/Sushi Hindu A-36.jpg', class: 'card-img-top' %>
		    <div class="card-body">
		      <h4 class="card-title">Tempura Rolls</h4>
		      <p class="card-text">Envieltos en masa tempura</p>
		      <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
		    </div>
		  </div>

		  <div class="card text-white bg-opacity">
		    <%= image_tag 'extras/Sushi Hindu A-36.jpg', class: 'card-img-top' %>
		    <div class="card-body">
		      <h4 class="card-title">Special Rolls</h4>
		      <p class="card-text">Rolls de sabor unico</p>
		      <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
		    </div>
		  </div>

		  <div class="card text-white bg-opacity">
		    <%= image_tag 'extras/Sushi Hindu A-36.jpg', class: 'card-img-top' %>
		    <div class="card-body">
		      <h4 class="card-title">Combinaciones Rolls</h4>
		      <p class="card-text">¿No sabes que suchi pedir?</p>
		      <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
		    </div>
		  </div>
		</div>

	</div>

</div>